<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% for(let book of books){ %>

        <h1>
            <a href="/books/<%=book._id %>">
                <%=book.title%>
            </a>
        </h1>
        <h2>
            <%=book.author%>
        </h2>
        <%}%>
            <form action=" /books/new" method="GET">
                <button>Add a new book</button>
            </form>
</body>

</html>