<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/books" method="post">
        <div>
            <label for="title">Book Title: </label>
            <input type="text" id="title" placeholder="To Kill a Mockingbird" name="book[title]">
        </div>
        <div>
            <label for="author">Author: </label>
            <input type="text" id="author" placeholder="Harper Lee" name="book[author]">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>