<%- include("../partials/header.ejs") %>
    <form action="/books" method="post">
        <div>
            <label for="title">Book Title: </label>
            <input type="text" id="title" placeholder="To Kill a Mockingbird" name="book[title]">
        </div>
        <div>
            <label for="author">Author: </label>
            <input type="text" id="author" placeholder="Harper Lee" name="book[author]">
        </div>
        <button type="submit">Submit</button>
    </form>
    <%- include("../partials/footer.ejs") %>