<%- include("./partials/header.ejs") %>
    <div class="container col-3 text-center">
        <form method="GET" action="/books">
            <button class="btn btn-secondary mt-3 ">Continue as Guest</button>
        </form>
        <form method="GET" action="/user/login">
            <button class="btn btn-primary mt-3">Log In</button>
        </form>
        <form method="GET" action="/user/signup">
            <button class="btn btn-primary mt-3 ">Sign Up</button>
        </form>
    </div>
    <%- include("./partials/footer.ejs") %>