<%- include("./partials/header.ejs") %>
    <form method="GET" action="/user/login">
        <button>Log In</button>
    </form>
    <form method="GET" action="/user/signup">
        <button>Sign Up</button>
    </form>
    <%- include("./partials/footer.ejs") %>