<%- include("../partials/header.ejs") %>
    <div class="container form-group col-6">
        <form action="/books/<%= book._id %> " method="post">

            <div>
                <label for="reviewBody">Write a review for <i>
                        <%= book.title %>
                    </i>: </label>
                <div>
                    <textarea type="textarea" id="reviewBody" name="review[body]" rows="10"
                        class="form-control"></textarea>

                </div>
            </div>
            <div>
                <label for="rating">Give a rating: </label>
                <input type="range" id="rating" placeholder="Harper Lee" name="review[rating]" min=0 max=5>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <%- include("../partials/footer.ejs") %>