<%- include("../partials/header.ejs") %>
    <div class="container form-group col-6">
        <form action="/books/<%= book._id %>" method="post">
            <div>
                <label for="reviewBody" class="form-label">Write a review for <i>
                        <%= book.title %>
                    </i>: </label>
                <div>
                    <textarea type="textarea" id="reviewBody" name="review[body]" rows="10"
                        class="form-control"></textarea>

                </div>
            </div>
            <div class="mt-3">
                <label for="rating" class="form-label">Give a rating: </label>

                <!-- Change starability-basic to different class to see animations. -->
                <fieldset class="starability-basic">
                    <input type="radio" id="rating" class="input-no-rate" name="review[rating]" value="0" checked
                        aria-label="No rating." />

                    <input type="radio" id="rate1" name="review[rating]" value="1" />
                    <label for="rate1">1 star.</label>

                    <input type="radio" id="rate2" name="review[rating]" value="2" />
                    <label for="rate2">2 stars.</label>

                    <input type="radio" id="rate3" name="review[rating]" value="3" />
                    <label for="rate3">3 stars.</label>

                    <input type="radio" id="rate4" name="review[rating]" value="4" />
                    <label for="rate4">4 stars.</label>

                    <input type="radio" id="rate5" name="review[rating]" value="5" />
                    <label for="rate5">5 stars.</label>

                    <span class="starability-focus-ring"></span>
                </fieldset>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <%- include("../partials/footer.ejs") %>